---
jellyfin:
  image:
    tag: 10.11.5
  service:
    type: NodePort
    port: 8096
    nodePort: 30010

  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.middlewares: kube-system-redirect-https@kubernetescrd
      traefik.ingress.kubernetes.io/frontend-entry-points: http,https
      traefik.ingress.kubernetes.io/redirect-entry-point: https
      traefik.ingress.kubernetes.io/redirect-permanent: "true"
    path: /
    hosts:
      - jellyfin.theater.kelbert.fr
    tls:
      - secretName: jellyfin-theater-kelbert-fr-tls
        hosts:
          - jellyfin.theater.kelbert.fr

  persistence:
    config:
      enabled: true
      storageClass: local-path
      accessMode: ReadWriteOnce
      size: 1Gi

    media:
      enabled: true
      existingClaim: media
      storageClass: jellyfin-media
