---
prometheus:
  extraScrapeConfigs: |
    - job_name: ceph
      static_configs:
        - targets:
          - 192.168.14.10:9283
          - 192.168.14.11:9283
          - 192.168.14.12:9283
    - job_name: nodes
      static_configs:
        - targets:
          - 192.168.14.10:9100
          - 192.168.14.11:9100
          - 192.168.14.12:9100
          - 192.168.14.21:9100
          - 192.168.122.1:9100
          - 192.168.10.2:9100
    - job_name: magstatt
      static_configs:
        - targets:
          - theater-1.magstatt.infra.mout.ch:9100
  prometheus-node-exporter:
    enabled: false
